:root {
    --phone-width-closed: 60px;
    --phone-width-open: 300px;
    --phone-scale: 1.0;
    --phone-ratio: 0.6;
    --phone-disabled-translateY: 40px;
    --popup-offset: 10px; /* 弹窗与手机的距离 */
}

/* 工具css */
.pointer {
    cursor: pointer;
}


/* DEBUG：固定在右下角 */
#smart-phone-debug-switch {
    position: fixed;
    right: -15px;
    bottom: 120px;
    width: 30px;
    height: 30px;
    background-color: #1a1a1a;
    border: 2px solid #444;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
    z-index: 999;
}
#smart-phone-debug-switch.active {
    right: 15px;
    background-color: #fff;
}
#smart-phone-debug-container {
    position: fixed;
    padding: 10px;
    right: 15px;
    bottom: 20px;
    width: 300px;
    height: 500px;
    background-color: #1a1a1a;
    border: 2px solid #444;
    border-radius: 15px;
    color: white;
    overflow-y: auto;
    overflow-wrap: anywhere;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    z-index: 998;
}



#phone-wrapper * {
    -webkit-tap-highlight-color: transparent;
}
#phone-wrapper {
    position: fixed;
    z-index: 200;
}
/* 手机容器：固定在右下角 */
.phone-main {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: var(--phone-width-closed);
    aspect-ratio: var(--phone-ratio);
    background-color: #1a1a1a;
    border: 2px solid #444;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    transition: all 0.3s ease, background-color 0.4s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
/* 亮屏状态：变大 */
.phone-main.phone-open {
    width: var(--phone-width-open);
    aspect-ratio: var(--phone-ratio);
    background-color: #1a1a1a;
    color: #fff;
    cursor: default;
    scale: var(--phone-scale);
    transform-origin: right bottom;
}
/* 禁用状态 */
.phone-main.phone-disabled {
    transform: translateY(var(--phone-disabled-translateY));
    background-color: #161616;
    color: #939393;
    cursor: not-allowed;
}
@media (max-width: 500px) {
    .phone-main {
        opacity: 0.5;
    }
    .phone-main.phone-open {
        opacity: 1;
    }
    .phone-main.phone-disabled {
       pointer-events: none;
    }
}
/* 息屏内容区 */
.phone-screen-locked {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    pointer-events: none; /* 让点击穿透到容器 */
}
/* 亮屏内容区 */
.phone-screen-unlocked {
    display: none;
    padding: 10px;
    height: calc(100% - 20px);
    flex-direction: column;
    position: relative;

    overflow: hidden;
    border-radius: 10px;
}
/* 状态切换辅助类 */
.phone-main.phone-open .phone-screen-locked {
    display: none;
}
.phone-screen-locked > div {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    flex-flow: column;
    align-items: center;
}
.phone-screen-locked > div > #battery {
    margin-left: unset;
    scale: 0.8;
}
.phone-main.phone-open .phone-screen-unlocked {
    display: flex;
}
/* 手机APP切换动画 */
.phone-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #1a1a1a;
    transition: all 0.4s ease;
    opacity: 0;
    scale: 0;
    transform: translateY(200px);
}
.phone-content.phone-content-open {
    opacity: 1;
    scale: initial;
    transform: translateY(0);
}
.phone-content.phone-content-desktop {
    background-color: transparent;
    transition: none;
    scale: unset;
    transform: unset;
}
#smart-phone-container-old {
    transition: none;
    background-color: transparent;
}
#smart-phone-container-old > .phone-screen-unlocked > * {
    visibility: hidden;
}
#smart-phone-container-old > .phone-screen-unlocked > .phone-content {
    visibility: visible;
}
/* 顶部状态栏 */
.phone-status-bar {
    background: #1a1a1a78;
    color: white;
    padding: 2px 15px;
    font-size: 12px;
    display: flex;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
#battery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 20px;
    margin-left: 10px;
}
#battery_cover, #battery_bg {
    position: absolute;
    width: inherit;
    height: inherit;
    transition: filter 0.4s ease;
}
#battery_value {
    position: absolute;
    align-self: center;
    color: black;
    font-size: 10px;
    font-weight: bold;
    margin-right: 4px;
    transition: color 0.4s ease;
}
.battery_charge > #battery_cover {
    filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg);
}
.battery_charge > #battery_value {
    color: white;
}
/* 底部状态栏 */
.phone-tool-bar {
    background: #1a1a1a78;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
#smart-phone-toolbar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #1a1a1a;
    border: 2px solid #444;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    transition: all 0.3s ease, background-color 0.4s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 200px;
    height: 40px;
    padding: 5px;
}
/* 充电线显示 */
#smart-phone-charge-line {
    transition: none;

    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 3px;
}
#smart-phone-charge-line-line {
    background-color: #fff;
    left: 25%;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 3px;
    border-radius: 3px;
}
#smart-phone-charge-line-top {
    background-color: #fff;
    width: 100%;
    height: 12px;
    position: absolute;
    top: 0;
    border-radius: 3px;
}
#smart-phone-charge-line-container {
    width: 8px;
    height: 200px;
    position: absolute;
    right: calc(50% - 4px);
    bottom: -202px;
    overflow: hidden;
}
#smart-phone-charge-line.line-start {
    transform: translateY(20px);
    opacity: 0;
}
/* 桌面 */
.phone-desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}
#phone-wallpaper {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -2;
    -webkit-user-drag: none;
}
#phone-wallpaper-cover {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1;
}
#phone-wallpaper-cover.blur {
    backdrop-filter: blur(2px);
}
#phone-wallpaper-cover.black {
    background: #1a1a1a78;
}
/* 确认 */
#phone-dialog {
    background-color: #000000b5;
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 20px;
    width: calc(100% - 40px);
    height: 100%;
    object-fit: cover;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 桌面APP图标 */
.phone-app-icon {
    width: 60px;
    height: 60px;
    background: #2c2c2c;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 6px 6px 4px rgb(0 0 0 / 78%);
}
.phone-app-icon.phone-app-icon-disabled {
    background: #4e4e4e;
    cursor: not-allowed;
    opacity: 0.5;
}
.phone-app-overlay {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: white;
    z-index: 100;
    padding: 10px;
    border-radius: 10px;
}
.toolbar-icon {
    width: 30px;
}

/* 跳动动画 */
@keyframes phoneBeat {
    0% {
        transform: scale(1) translateY(0px);
    }
    25% {
        transform: scale(1.03) translateY(-15px);
    }
    50% {
        transform: scale(1) translateY(-10px);
    }
    75% {
        transform: scale(1.02) translateY(-15px);
    }
    100% {
        transform: scale(1) translateY(0px);
    }
}
/* 跳动类 */
#smart-phone-container.beating {
    animation: phoneBeat 0.8s ease-in-out infinite;
}

/* 信息弹窗 */
.phone-popup {
    position: fixed;
    right: 20px;
    bottom: calc(20px + var(--phone-width-closed) / var(--phone-ratio) + var(--popup-offset));
    
    -webkit-tap-highlight-color: transparent;
    display: flex;
    height: auto;
    padding: 10px;
    background-color: #1a1a1a;
    border: 2px solid #444;
    border-radius: 10px 10px 0px 10px;
    color: white;
    font-size: 12px;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    
    pointer-events: none;
    opacity: 0;
    width: 0px;
    transform: translateX(200px);
}
#phone-wrapper:has(.phone-main.phone-open) + .phone-popup{
    bottom: calc(20px + var(--phone-width-open) / var(--phone-ratio) * var(--phone-scale) + var(--popup-offset));
}
.phone-popup.active {
    pointer-events: all;
    opacity: 1;
    width: 300px;
    transform: translateX(0);

}
#phone-wrapper:has(.phone-main.phone-disabled) + .phone-popup{
    transform: translateY(var(--phone-disabled-translateY));
}
.phone-popup-content {
    width: 90%;
}


/*==================== 闹钟实现 ====================*/
.phone-alarming {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

.phone-contact-item, .phone-alarm-item {
    padding: 10px;
    background-color: #444;
    border-radius: 10px;
    color: #fff;
    border-bottom: 3px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-content button{
    max-width: unset
}

.phone-contact-list, .phone-alarm-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phone-alarm-display-time {
    font-size: larger;
    font-weight: bold;
    margin-bottom: -8px;
}
.phone-alarm-display-msg {
    line-height: 1.2;
}


/*==================== 网购实现 ====================*/
.phone-overlay .button-back-to-shop {
    display: none;
}

.phone-overlay .filters-button {
    position: static;
    margin-top: 10px;
}

.phone-overlay .clothingshop-options-button {
    position: static;
    transform: translate(calc(100% + 20px), -100%);
}

@media only screen and (max-width: 420px) {
    .filters-button {
       transform: scale(1);
    }
}

.phone-overlay .shop-legend-button {
    display: none;
}

.phone-overlay .buy-buttons>.buy-button {
    display: none;
}

/*==================== 电话实现 ====================*/
.phone-call-overlay {
    background: #222;
    color: #eee;
    padding: 20px;
    border: 5px solid #444;
    border-radius: 10px;
    width: calc(500px * 0.8);
    aspect-ratio: 9 / 16;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
@media (max-width: 500px) {
    .phone-call-overlay {
        width: 80%;
    }
}

#phone-call-content {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 10px;
}


/*==================== 设置实现 ====================*/
#phone-wallpaper-preview {
    width: 20%; 
    height: 20%; 
    object-fit: cover; 
}

/* 摄像 */
.photo-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-user-drag: none;
    border-radius: 10px;
}


/* 相册 */
.album-content-container {
    padding: 3px;
}
.album-photo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 78%);
    padding: 5px;
    border-radius: 10px;
}
.album-photo-title {
    padding-inline: 5px;
}
.album-photo-passage {
    line-height: normal;
    word-wrap: break-word;
    margin-right: 2px;
}
.album-photo-image-container {
    max-width: 50%;
}
.album-photo-image {
    width: 50%;
    border-radius: 10px;
}
.album-photo-star {
    position: absolute;
    right: 10px;
    top: -10px;
}


/*==================== 其他CSS ====================*/
